.OrderSumm {
  width: 1000%;
  max-width: 375px;
  padding-top: 1em;
  margin: 0 auto;
}

.osHeader {
  font-size: 1rem;
  color: #0d0900;
  margin-bottom: 1.25em;
}

.osLists {
  border: 1px solid #eeeeee;
  padding: 0 1em 1em;
}

.osSubtotal {
  font-size: 1rem;
  padding: 0 1em;
  margin: 0.3em 0;
}

.osTotal {
  font-size: 1.25rem;
  padding: 0 0.75em;
}
