.MainWrapper {
  width: 20%;
  height: 30%;
  .wrapper-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0 3em;
    img {
      width: 60%;
    }
    .wrapper-collection {
      letter-spacing: 0.2rem;
      font-size: 0.8rem;
      font-weight: 580;
      color: #424242;
    }

    .wrapper-title {
      letter-spacing: 0.2rem;
      font-size: 0.65rem;
      margin: 2em 0;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        list-style: none;
        margin: 0 0.5em;

        .colorItem {
          width: 0.7rem;
          height: 0.7rem;
          border-radius: 50%;
        }
      }
    }
  }
  .wrapper-item:hover {
    background-color: #eae8e9;
  }
}
