

    .CabinLimited{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22%;
        margin: 0 1em 6em 1em;
        background-color: #f7f5f4;
        border-radius: 6px;
        
        .LimitedThumb:hover{
            color: #999;
            position: relative;
            display: flex;
            text-align: center;
            padding: 42px 0 35px;
            transition: all 0.5s;
            transform: scale(1.05);
            
            .LimitedBody{
               
                .ProductLink{
                    color: #000;
                    overflow: hidden;
                    text-decoration: none;
                    .ProductImage{
                        padding-top: 15px;
                        height: auto;
                        position: relative;
                        .LimitedImage{
                            padding-top: 15px;
                            border-style: none;
                            max-width: 100%;
                            display: inline;
                            visibility: visible;
                            min-height: 177px;
                            opacity: 1;
                        }
                        
                    }
                    .ProductCat{
                        font-size: 11px;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        padding: 0 20px;
                    }
                    .ProductRyme{
                        color: #0d0901;
                        font-size: 1.3rem;
                        font-weight: 300;
                        line-height: 1.8rem;
                        padding: 10px 0;
                    }
                }
                .ProductPrice{
                    font-size: 1.3rem;
                    color: #b2ada6;
                    margin-top: 8px;
                    font-weight: 300;
                    letter-spacing: 1px;
                    line-height: 1rem;
                }
                .ProductPromo{
                    font-size: .8em;
                    margin: .5em 0;
                    text-transform: uppercase;
                }
            }
            .LimitedWish{
                width: 26px;
                height: 26px;
                position: absolute;
                top: 1em;
                right: 1em;
                font-size: 16px;
                
                cursor: pointer;
                i{
                    font-weight: 400;
                }
            }
            .ProductSwatch{
                max-width: 1023px;
                top: 1em;
                left: 1.5em;
                position: absolute;
                .SwatchList{
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    list-style: none;
                    display: flex;
                    li{
                        height: 24px;
                        a{
                            pointer-events: none;
                            cursor: default;
                            display: inline-block;
                            margin: 0;
                            padding: 9px 4px;
                            line-height: 0;
                            color: #000;
                            overflow: hidden;
                            text-decoration: none;
                            .SwatchImage{
                                height: 11px;
                                width: 11px;
                                border-radius: 50%;
                                border: none;
                                padding: 0;
                            }
                        }
                    }
                }
                
            }
            .ProductBadge{
                display: flex;
                position: absolute;
                top: 3.5em;
                left: 1.8em;
                height: 2em;
                width: 10em;
                .IconTag{
                    transform: rotate(45deg);
                    box-sizing: border-box;
                    height: 9px;
                    width: 11.5px;
                    border: 1px solid #1D1D1B;
                    border-radius: 2px;
                    margin-top: 3px;
                    margin-right: 5px;
                }
                .TagName{
                    margin-left: 5px;
                    display: inline-block;
                    height: 24px;
                    width: 175px;
                    color: #1D1D1B;
                    font-family: "Favorit Light",Arial,sans-serif;
                    font-size: 11px;
                    font-weight: 300;
                    letter-spacing: .4px;
                    line-height: 14px;
                    text-align: left;
                }
            }
        }
    
}