.header{
    max-width: 1360px;
    width: calc(100% - 80px);
    padding: 0 2em;
    margin-right: auto;
    margin-left: auto;
    
}
.banner{
    margin: 1em 0 0;
    display: flex;
    align-items: center;
    background-color: black;
    height: 9em;
}
/*네비게이션*/
.navigation{
    padding: 0 1em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;//nav?banner?
    width: 100%;

}
.ListMain{
    border-top: 1px solid #f7f5f4;
    min-height: 100vh;

.ListTop{
    height: 68px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    letter-spacing: 0.2em;
    z-index: 1;
    .ListFilter{
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        padding: 0 2em;
        .FilterToggle{
            margin: 3em;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            .ToggleButton{
                cursor: pointer;
                color: #0d0901;
                background-color: transparent;
                font-size: 0.7rem;
                letter-spacing: 0.2rem;
                border-color: transparent;
            }
    
        }
        .TopSeller{
            cursor: pointer;
            margin: 3em;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            .Seller{
                margin-bottom: 0;
                color: #0d0901;
                background-color: #fff;
                font-size: 0.7rem;
                letter-spacing: 0.2rem;
                border-color: transparent;
                .SortBy{
                    color: #0d0901;
                }
            }
        }
    }
    
}
.ListContainer{
    margin-top: 3em;
    max-width: 1360px;
    padding: 0 2em;
    margin: 0 auto;
    .ListCabin{
        display: flex;
        overflow: hidden;
        padding: 0;
        margin: 0;
        padding-top: 3em;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: stretch;
       
        .CabinProduct{
            width: 47%;
            overflow: hidden;
            margin: 0 1em 6em 1em;
            text-align: center;
            background-color: #f7f5f4;
            border-radius: 6px;
            
            .Thumb{
                display: block;
                height: 100%;
                overflow: hidden;
                transition: all .2s ease-in-out;
                text-decoration: none;
                color: #0d0901;
                
                .ThumbTitle{
                    margin: 2em 0 0 0;
                    font-weight: 600; 
                    font-size: 0.7rem; 
                    color: #6f6f6f; 
                    text-transform: uppercase;
                    
                }
                .ThumbName{
                    margin: 0.16em 0 0.6em 0;
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 1.8rem;
                    padding: 0.6em 0;
                }
                .Cta{
                    font-weight: 600;
                    font-size: 0.7rem;
                    text-transform: uppercase;
                    
                }
                .ThumbProduct{
                    position: relative;
                    height: 300px;
                    mix-blend-mode: multiply;
                    .Cabin{
                        max-width: 1300px;
                        bottom: -55%;
                        position: absolute; 
                        left: -9999px; 
                        right: -9999px; 
                        bottom: -121%; 
                        width: 115%; 
                        margin: auto;
                    }
                }
            }
        }
        .CabinLimited{
            list-style: none;
            display: flex;
            align-items: center;
            width: 22%;
            margin: 0 1em 6em 1em;
            background-color: #f7f5f4;
            border-radius: 6px;
            .LimitedThumb{
                color: #999;
                position: relative;
                display: flex;
                text-align: center;
                padding: 3em 0 2em;
                .LimitedBody{
                    
                    .ProductLink{
                        color: #000;
                        overflow: hidden;
                        text-decoration: none;
                        .ProductImage{
                            padding-top: 1em;
                            height: auto;
                            position: relative;
                            .LimitedImage{
                                padding-top: 1em;
                                border-style: none;
                                max-width: 100%;
                                display: inline;
                                visibility: visible;
                                min-height: 177px;
                                opacity: 1;
                            }
                        }
                        .ProductCat{
                            font-size: 0.7rem;
                            text-transform: uppercase;
                            
                            padding: 0 1.5em;
                        }
                        .ProductRyme{
                            color: #0d0901;
                            font-size: 1rem;
                            font-weight: 500;
                            line-height: 1.8rem;
                            padding: 0.6em 0;
                        }
                    }
                    .ProductPrice{
                        font-size: 1rem;
                        color: #b2ada6;
                        margin-top: 0.5em;
                        font-weight: 300;
                        
                        line-height: 1rem;
                    }
                    .ProductPromo{
                        font-size: .8em;
                        margin: .5em 0;
                        text-transform: uppercase;
                    }
                }
                .LimitedWish{
                    width: 26px;
                    height: 26px;
                    position: absolute;
                    top: 1em;
                    right: 1em;
                    font-size: 1rem;
                    
                    cursor: pointer;
                    i{
                        font-weight: 400;
                    }
                }
                .ProductSwatch{
                    max-width: 1023px;
                    top: 1em;
                    left: 1.5em;
                    position: absolute;
                    .SwatchList{
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        list-style: none;
                        display: flex;
                        li{
                            height: 24px;
                            a{
                                pointer-events: none;
                                cursor: default;
                                display: inline-block;
                                margin: 0;
                                padding: 0.6em 0.3em;
                                line-height: 0;
                                color: #000;
                                overflow: hidden;
                                text-decoration: none;
                                .SwatchImage{
                                    height: 11px;
                                    width: 11px;
                                    border-radius: 50%;
                                    border: none;
                                    padding: 0;
                                }
                            }
                        }
                    }
                    
                }
                .ProductBadge{
                    display: flex;
                    position: absolute;
                    top: 3.5em;
                    left: 1.8em;
                    height: 2em;
                    width: 10em;
                    .IconTag{
                        transform: rotate(45deg);
                        box-sizing: border-box;
                        height: 9px;
                        width: 11.5px;
                        border: 1px solid #1D1D1B;
                        border-radius: 2px;
                        margin-top: 0.2em;
                        margin-right: 0.3em;
                    }
                    .TagName{
                        margin-left: 0.4em;
                        display: inline-block;
                        height: 24px;
                        width: 175px;
                        color: #1D1D1B;
                        font-family: "Favorit Light",Arial,sans-serif;
                        font-size: 0.7rem;
                        font-weight: 300;
                        
                        line-height: 0.9em;
                        text-align: left;
                    }
                }
            }
        }
        
        
       
      }
    }
}
