@import "../../styles/common.scss";
* {
}

/***** TYPOGRAPHY *****/
.pdHeader {
  .subHeader {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.1875rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0.35em 0 1em;
  }
}

.sectionHeader {
  .subHeader {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.1875rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0.75em 0 1em;
  }
}

.pdTxtUpper {
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: $gray;
}

.pdUnderline {
  border-bottom: 1px solid rgb(160, 160, 160);
}

/***** SPACING *****/
.pdML3 {
  margin-left: 0.875em;
}
/***** SPACING *****/

.ProductDetail {
  width: 100vw;
  background: white;
}

.pdpTop {
  display: flex;
  width: 100%;
  max-width: 1360px;
  padding: 2.5rem 2.5rem 0; /*top rightleft bottom*/
  margin: 0 auto;
}

.productImg {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 5em;
}

.imgCarousel {
  position: relative;
}

.productLabel {
  font-size: 0.75rem;
}

.pdDiamond {
  height: 0.75em;
  width: 0.75em;
  border: 1px solid;
  transform: rotate(45deg);
  transform-origin: -45% 100%;
  margin-right: 1em;
}

.productSliderBtn {
  background: $faintGray;
  border-radius: 50%;
  border: none;
  outline: none;
}

.productDetail {
  width: 50%;
}

.pdInfo {
  margin-bottom: 2em;
}

.pdPrice {
  font-size: 1.325rem;
  font-weight: 300;
}

/***** SELECT SIZE *****/
.pdSelectSize {
  max-width: 320px;
  height: 10%;
  margin: 1.25em auto;
}

/***** ADD TO CART *****/
.pdAddToCart {
  max-width: 320px;
  margin: 1.25em auto;

  button {
    background: #0c67e7;
    padding: 2em;
  }

  button:hover {
    background: #4e8ee7;
    transition: 0.3s ease-in-out;
  }
}

.pdOptions {
  margin: 1.25em 0;

  .pdWishlist {
    border-right: 1px solid $faintGray;
    padding-right: 1em;
    cursor: pointer;
  }

  .pdStore {
    padding-left: 1em;
  }
}

.pdText {
  margin-top: 1em;
  margin-bottom: 1em;
}

.pdColors {
  margin-top: 1em;
}

.colorPalette {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50px;
}

.divider {
  margin-top: 4em;
  border-bottom: 1px solid $faintGray;
}
/*************** PDP BOTTOM ******************/

.pdpBottom {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  background: #fff;
}

.pdpSpecs {
  padding-top: 4em;
}

.specDetails {
  margin-top: 4em;
  padding-left: 4em;

  .specTitle {
    padding-bottom: 1em;
    text-transform: uppercase;
  }

  ul {
    margin-bottom: 1.5em;
  }

  li {
    color: $lightGray;
    border-top: 1px solid $lightGray;
    padding: 1em 0;
  }
}

.specImg {
  width: 50%;
  padding-left: 2.5rem; /*임의지정*/
}

.specUnit {
  /*background: lime;*/
}

.metric {
  padding-right: 0.5em;
  border-right: 1px solid $darkGray;
}

.imperial {
  padding-left: 0.5em;
}

.specWire {
  .wireLeft {
    position: relative;

    .specHeight {
      border-right: 1px solid $darkGray;
      margin: 6em 2em 4em 0;
    }

    .height {
      transform: rotate(-90deg);
      margin-right: 2em;
    }

    .specWidth {
      border-top: 1px solid $darkGray;
      margin: 1em 3em 0 2em;
    }

    .width {
      margin-top: 2em;
    }
  }

  .wireRight {
    .specDepth {
      border-top: 1px solid $darkGray;
      margin: 1em 0 0 0;
    }

    .depth {
      margin-top: 2em;
    }
  }
}

.specDetails {
  width: 50%;
}

.specPN {
  margin-top: 8em;
  font-size: 0.8rem;
}

.pdpKey {
  width: 100%;
  margin: 4em auto 0;
  padding-top: 6em;

  .keyImg {
    width: 50%;
  }

  .keyAccor {
    width: 50%;
  }
}

.keyDetails {
  padding-top: 2em;
  .keyTitle {
    text-transform: uppercase;
    border-bottom: 1px solid $lightGray;
    padding-bottom: 1em;
    margin: 1.25em 0;
  }

  ul {
  }

  li {
    color: $lightGray;
    border-bottom: 1px solid $lightGray;
    padding-bottom: 0.875em;
  }
}

.pdpRecommend {
  background: darksalmon;
}

@media screen and (max-width: 1023px) {
  .pdpTop {
    display: block;
  }

  .productImg {
    width: 100%;
    padding: 5em;
  }

  .productDetail {
    width: 100%;
  }
}

/***** innerHTML *****/
.o-title--h3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1875rem;
  text-align: center;
}

.o-title--h2 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0.75em 0 1em;
  text-align: center;
}

.c-switch {
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: #636363;
  padding-left: 2.5rem;
}

.c-spec-details__height-value {
  transform: rotate(-90deg);
}

.c-dimension-value-content {
  margin-right: 2em;
}

.c-dimension-value {
  text-align: center;
}
