
.NavServices {
  border-top: 1px solid #f2f2f2;
  box-shadow: 3px 3px 4px rgba($color: #000000, $alpha: 0.4);
  position: absolute;
  width: 100%;
  top: 4em;
  left: 0;
  z-index: 100;
  background-color: white;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 2em 15em;
    font-size: 0.9rem;

    .services-list1 {
      display: flex;
      flex-direction: column;
      span {
        letter-spacing: 0.2rem;
        font-size: 0.77rem;
        margin-bottom: 1em;
        a{
          text-decoration: none;
          color: black;
        }
      }

      img {
        margin: 1em 0;
      }

      a {
        text-decoration: underline;
        letter-spacing: 0.1rem;
      }
    }

    .services-list2 {
      display: flex;
      flex-direction: column;
      span {
        letter-spacing: 0.2rem;
        font-size: 0.77rem;
        margin-bottom: 1em;
      }

      img {
        margin: 1em 0;
      }

      a {
        text-decoration: underline;
        letter-spacing: 0.1rem;
      }
    }

    .services-list3 {
      display: flex;
      flex-direction: column;
      span {
        letter-spacing: 0.2rem;
        font-size: 0.77rem;
        margin-bottom: 1em;
      }

      img {
        margin: 1em 0;
      }

      a {
        text-decoration: underline;
        letter-spacing: 0.1rem;
      }
    }
  }
}
