.CheckOutAddr {
  .AddrOptions {
    width: 100%;
    h4 {
      padding: 2em 0 1.5em;
      font-size: 1.3rem;
    }

    .gender {
      display: flex;
      label {
        margin-left: 0.2em;
      }

      div {
        margin-right: 1rem;
      }
    }

    .inputOption {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      width: 70%;

      input {
        width: 100%;
        border: 1px solid #dadada;
        border-radius: 0.3rem;
        background-color: #fff;
        height: 3rem;
        margin: 0.6em 0;
        padding: 2em 1em;
        outline-style: none;
      }

      .inputChecked {
        width: 100%;
        border: 1px solid #c81f1f;
        border-radius: 0.3rem;
        background-color: #fff;
        height: 3rem;
        margin: 0.6em 0;
        padding: 2em 1em;
      }

      //   input:focus {
      //     outline: 1px solid rgb(51, 51, 255);
      //     border-radius: 0.3rem;
      //   }
      input::placeholder {
        color: #0d0900;
        font-size: 0.95rem;
      }

      .address-serch {
        width: 100%;
        display: flex;
        align-items: center;
        .adress-detail {
          width: 60%;
        }
        .serchBtn {
          width: 35%;
          padding: 1em 1em;
          margin-left: 5%;
          border-radius: 2rem;
          background-color: #fff;
          border: 1px solid #dadada;
          text-align: center;
        }

        .serchBtn:hover {
          cursor: pointer;
        }
      }

      .countryBox {
        background-color: #f2f2f2;
        border: 1px solid #dadada;
        border-radius: 0.3rem;
        padding: 0.4em 1em;
        margin: 0.5em 0;

        p {
          font-size: 0.8rem;
          font-weight: 600;
          color: #0d0900;
        }
      }
    }

    .CheckOutAddr-btn {
      border-top: 1px solid #f2f2f2;
      width: 100%;
      button {
        width: 70%;
        padding: 1.3em 1em;
        margin: 2rem 0 3rem;
        color: white;
        background-color: #0c67e7;
        border: 0.1rem solid #0c67e7;
        border-radius: 0.2rem;
        font-size: 0.7rem;
        letter-spacing: 0.15rem;
        outline-style: none;
      }
    }
  }
}
