.CreditCard {
  .block {
    display: block;
  }

  .none {
    display: none;
  }
  .credit-back {
    display: flex;
    align-items: center;
    color: #6f6f6f;

    span {
      font-size: 0.9rem;
      text-decoration: underline;
      margin-left: 0.8rem;
    }
  }
  .CreditCard-items {
    margin-bottom: 1em;

    h4 {
      padding: 2em 0 1em;
    }
    .card-img {
      display: flex;
      align-items: center;
      img {
        width: 5%;
        border: 0.05rem solid #dadada;
        margin-right: 0.5rem;
      }
      span {
        font-size: 0.8rem;
        color: #6f6f6f;
      }
    }
    .card-input {
      display: flex;
      flex-direction: column;
      width: 70%;

      .redText {
        font-size: 0.7rem;
        color: #c81f1f;
      }

      input {
        padding: 1.5em 1em;
        border: 0.05rem solid #dadada;
        border-radius: 0.3rem;
        margin-top: 1em;
        outline-style: none;
      }

      .inputChecked {
        width: 100%;
        border: 1px solid #c81f1f;
        border-radius: 0.3rem;
        background-color: #fff;
        height: 3rem;
        margin: 0.6em 0;
        padding: 2em 1em;
      }

      input::placeholder {
        color: #6f6f6f;
        font-size: 1rem;
      }

      .card-year {
        display: flex;
        width: 100%;

        .month {
          width: 30%;
          margin-right: 1em;
        }
        .year {
          width: 30%;
          margin-right: 1em;
        }
        .card-cardCvv {
          width: 30%;
          .cardCvv {
          }
        }
      }
    }
  }

  .CreditCard-btn {
    border-top: 1px solid #ececec;
    button {
      width: 70%;
      background-color: #0c67e7;
      border-radius: 0.2rem;
      border-style: none;
      margin: 2rem 0 4rem;
      outline-style: none;
    }

    span {
      font-size: 0.6rem;
      letter-spacing: 0.15rem;
      color: white;
    }
  }
}
