.CreditCard {
  .credit-back {
    display: flex;
    align-items: center;
    color: #6f6f6f;

    span {
      font-size: 0.9rem;
      text-decoration: underline;
      margin-left: 0.8rem;
    }
  }
  .CreditCard-items {
    h4 {
      padding: 2em 0 1em;
    }
    .card-img {
      display: flex;
      align-items: center;
      img {
        width: 5%;
        border: 0.05rem solid #dadada;
        margin-right: 0.5rem;
      }
      span {
        font-size: 0.8rem;
        color: #6f6f6f;
      }
    }
    .card-input {
      display: flex;
      flex-direction: column;

      input {
        width: 70%;
        padding: 1.5em 1em;
        border: 0.05rem solid #dadada;
        border-radius: 0.3rem;
        margin-top: 1em;
      }

      input::placeholder {
        color: #6f6f6f;
        font-size: 1rem;
      }

      .card-Validity {
        display: flex;
      }
    }
  }

  .CreditCard-btn {
    border-top: 1px solid #ececec;
    button {
      width: 70%;
      background-color: #0c67e7;
      border-radius: 0.2rem;
      border-style: none;
      margin: 2rem 0 4rem;
    }

    span {
      font-size: 0.6rem;
      letter-spacing: 0.15rem;
      color: white;
    }
  }
}
