.CheckOut {
  width: 100%;
  height: 100%;
  background-color: white;
  .checkOut-main {
    display: flex;
    border-top: 1px solid #f2f2f2;
    margin-top: 1em;
    padding: 3em 10em;

    .checkOut-mainLeft {
      width: 50%;
      .CheckOutMenu-item {
        border-bottom: 1px solid #f2f2f2;
        padding: 1em 0;
        .CheckOutMenu-title {
          display: flex;
          align-items: center;
          .title-number {
            font-size: 1.2rem;
            color: #6f6f6f;
            margin-right: 0.5rem;
          }

          h2 {
            font-size: 1.7rem;
            color: #0d0900;
          }
        }
      }
    }

    .checkOut-mainRight {
      width: 45%;
      margin-left: 5%;
    }
  }
}
