@import "../../styles/common.scss";

/***** SPACING *****/

.UniqueTag {
  width: 100%;
  background: #f7f5f4;

  .remove {
    display: none;
  }

  .pdML3 {
    margin-left: 0.875em;
    &:hover {
      cursor: pointer;
    }
  }

  .utHeaderWrapper {
    max-width: 1000px;
    width: 100%;
    letter-spacing: 0.2rem;
    font-size: 1.7rem;
    text-align: center;
    padding-top: 1em;
    margin: 0 auto 5em;
    position: relative;

    .left {
      width: 20%;
      font-size: 0.75rem;
    }

    .center {
      width: 60%;
      &:hover {
        cursor: pointer;
      }
    }

    .right {
      width: 20%;
    }
  }

  .utWrapper {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  .left-margin {
    margin: 0 0 -0.5em;
  }

  .utTag {
    width: 35%;
    height: 500px;
    position: relative;
  }

  .utImgWrapper {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    .addText {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%);
      z-index: 999;
    }

    .editBtn {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%);
      &:hover {
        cursor: pointer;
      }

      p {
        background-color: rgba(255, 255, 255, 0);
        border: 0.1rem solid white;
        line-height: 1rem;
        color: white;
        padding: 0.5em;
        border-radius: 0.3rem;
      }
    }
  }

  .utStartBtn {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    margin: 0 auto 1.5em;
    cursor: pointer;

    i {
      zoom: 150%;
    }
  }

  .utStartText {
    color: white;
    font-size: 0.7rem;
    line-height: 0.25rem;
    letter-spacing: 0.2rem;
  }

  .utCustomText {
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50%);
    // display: none;
  }

  .utCharacters {
    font-size: 3rem;
    font-weight: 500;
    color: transparent;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25),
      0.005em 0 0 rgba(255, 255, 255, 0.25);
  }

  .utPicker {
    width: 55%;
    padding: 8em 2em;
  }

  .utPickWrapper {
    flex-wrap: wrap;
  }

  .utChoice {
    margin: 1.5em 2em;
  }

  .utChoice input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  .utColorName {
    font-size: 0.75rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: #707070;
  }

  .utColorPrice {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #707070;
  }

  .utChoice label {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 4px solid #fff;
    border-radius: 50%;
    cursor: pointer;
  }

  .black {
    background-color: #4c4c4c;
  }

  .paprika {
    background-color: #e51037;
  }

  .ocean {
    background-color: #12496f;
  }

  .ocean {
    background-color: #12496f;
  }

  .honey {
    background-color: #fba230;
  }

  .azure {
    background-color: #a1abb7;
  }

  .lagoon {
    background-color: #1a807b;
  }

  .blush {
    background-color: #ffb2b0;
  }

  .clementine {
    background-color: #f0643b;
  }

  .utChoice input[type="radio"]:checked + label {
    border: 4px solid rgba(23, 23, 23, 0.15);
    transform: scale(1.025);
    transition: 0.25s ease-in;
  }

  .atcComponent {
    position: absolute;
    bottom: 25px;
    left: 30px;
  }

  .addTextOption {
    width: 23vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;

    .addTextItem {
      background-color: #efefef;
      font-weight: bold;
      padding: 1.5em 1em;
    }
    .addTextList {
      height: 100vh;
      background-color: white;
      .keywordList {
        .addTextJoin {
          padding: 2em 0;
          .join {
            padding: 0.5em 1em;
            border: 0.05rem solid #393939;
            border-radius: 0.5rem;
          }

          .join:hover {
            cursor: pointer;
          }
        }
        .addTextTable {
          .column1 {
            display: flex;
            justify-content: space-around;
            padding: 1em 1em;
            margin-right: 2em;
          }

          .column2 {
            display: flex;
            justify-content: space-around;
            padding: 1em 1em;
            margin-left: 2em;
          }

          li {
            display: inline-block;
            font-size: 2rem;
            border: 1px solid #d6d6d6;
            border-radius: 0.3rem;
            padding: 0.4em;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }

      .optionbox {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 0 2em 0 2em;

        .textDelete {
          width: 33.3%;
          font-size: 1.5rem;
          background-color: #efefef;
          border-radius: 0.2rem;
          padding: 0.3rem;
        }

        .textDelete:hover {
          cursor: pointer;
        }

        .textScore {
          width: 33.3%;
          border-radius: 0.2rem;
          font-size: 1.1rem;
          color: #d6d6d6;
        }

        .btnOk {
          width: 33.3%;
          background-color: #393939;
          border-radius: 0.2rem;
          padding: 0.3rem;
          color: white;
        }

        .btnOk:hover {
          cursor: pointer;
        }
      }
    }
  }
}
