@import "../../styles/common.scss";

.UniqueMain {
  width: 100%;
  position: relative;
}
/********** TYPOGRAPHY **********/
.unUpper {
  text-transform: uppercase;
}

.unSubheader {
  font-size: 0.875rem;
}
.unTitle {
  font-size: 1.75rem;
  margin: 0.5em 0;
}
.unLink {
  font-size: 0.75rem;
  text-decoration: underline;
  cursor: pointer;
}
/********** Hero **********/

.unHero {
  position: relative;
}

.unHeroVideo {
  width: 100%;
}

.heroBtn {
  position: absolute;
  top: 30%;
  left: 10%;
}

.HeaderStyle {
  position: absolute;
  width: 100%;
  z-index: 100;
}

.NavStyle {
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 100;
}

/********** WRAPPER **********/

.unWrapper {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

/********** PITCH **********/
.unPitch {
  margin: 3em 0;
}

.pitchHeader {
  font-size: 1.875rem;
  margin: 2em 0;
}

.pitchBody {
  max-width: 460px;
  margin: 0 auto;
  font-size: 0.9375rem;
}

/********** INSPO **********/
.unInspo {
  margin: 2em 0;
}

.unToggle {
  font-size: 0.95rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  cursor: pointer;
}

.unInspiration {
  margin: 0 0.5em;
}

.unInspiration:hover {
  color: $gray;
}

.unMydesign {
  margin: 0 0.5em;
}

.unMydesign:hover {
  color: $gray;
}

/********** HOW **********/
.unHow {
}

.howHeader {
  font-size: 2rem;
  margin: 0 auto 2em;
}

.unHow1,
.unHow2,
.unHow3 {
  width: 100%;
  padding: 2em 10em;
}

.unImgWrapper {
  width: 50%;
}

.unImg1 {
  width: 339px;
  height: 339px;
  border-radius: 50%;
  margin: 0 auto;
  background: url("https://www.rimowa.com/on/demandware.static/-/Library-Sites-RimowaSharedLibrary/default/dwdaf72418/landing/custo/Animation-Cabin.jpg");
  background-position: 0px 0px;
  animation-name: imgslide;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.unImg2 {
  width: 339px;
  height: 339px;
  border-radius: 50%;
  margin: 0 auto;
  background: lightblue;
  background: url("https://www.rimowa.com/on/demandware.static/-/Library-Sites-RimowaSharedLibrary/default/dwd5dae417/landing/custo/Animation-Wheels.jpg");
  background-position: 0px 0px;
  animation-name: imgslide;
  animation-delay: 0.7s;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.unImg3 {
  width: 339px;
  height: 339px;
  border-radius: 50%;
  margin: 0 auto;
  background: lightblue;
  background: url("https://www.rimowa.com/on/demandware.static/-/Library-Sites-RimowaSharedLibrary/default/dw12567add/landing/custo/Animation-Tag-perspective.jpg");
  background-position: 0px 0px;
  animation-name: imgslide;
  animation-delay: 1.4s;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes imgslide {
  0% {
    background-position: 0;
  }

  25% {
    background-position: 339px;
  }
  50% {
    background-position: 678px;
  }

  75% {
    background-position: 1017px;
  }

  100% {
    background-position: 1356px;
  }
}

.unDes {
  width: 50%;
  margin: 0 10em;
}
.unDesHeader {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin-bottom: 1.25em;
}

.unHowBody {
  font-size: 0.9rem;
}

.unHowBtn {
  width: 20%;
  margin: 0 auto;

  div {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
    padding: 1.25em;
    background: #393939;
    color: $white;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.5s ease-out;
  }

  div:hover {
    color: #b6b6b6;
  }
}
/********** STICKER **********/
.unSticker {
  background: #f7f5f4;
  padding-top: 6em;
  margin: 4em 0 2em;

  img {
    width: 48%;
  }
}

.unStickerImg {
  margin-top: 4em;
}

/********** ACCESSORIES **********/
.unAccessories {
  width: 100%;
  margin-bottom: 3em;

  .left {
    width: 50%;
    margin-right: 1em;
    overflow: hidden;
    padding: 4em;
    background: #f7f5f4;
  }

  .right {
    width: 50%;
    margin-left: 1em;
    overflow: hidden;
    background: #f7f5f4;
  }

  .unAccHeader {
    padding-top: 4em;
  }
}

.unTag {
  width: 339px;
  height: 339px;
  margin: 3em auto 0;
  background: url("https://www.rimowa.com/on/demandware.static/-/Library-Sites-RimowaSharedLibrary/default/dwaa7a5b2c/landing/custo/Animation-Tag-perspective.png");
  animation-name: imgStop;
  animation-duration: 3s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
}

@keyframes imgStop {
  100% {
    background-position: -1356px;
  }
}

.unWheel {
  background: url("https://www.rimowa.com/on/demandware.static/-/Library-Sites-RimowaSharedLibrary/default/dwf6721c54/images/mozaic_vertical/Wheels.png");
  width: 100%;
  height: 384px;
  object-fit: contain;
  margin-top: 5em;
}
