@import "../../styles/common.scss";

body {
  background: $beigeBg;
}

li {
  list-style: none;
}

input {
  padding: 1em;
  border-radius: 0.3em;
  border: 0;
}

/********* typography *********/

.SignupWrapper {
  width: 100%;
  max-width: 1360px;
  padding: 4em 0;
  margin: 0 auto;

  .wrapper {
    width: 50%;
  }
}

.signInForm {
  width: 100%;
  padding-top: 1em;
}

.inputWrapper {
  position: relative;
  width: 100%;
  margin: 1em 0;

  .left {
    width: 18%;
    margin-right: 2%;
  }

  .right {
    width: 80%;
  }

  .togglePW {
    position: absolute;
    right: 0.75em;
    top: 0.6em;
    text-transform: uppercase;
    cursor: pointer;
    color: #b2ada6;
  }
}

.countryDD {
  width: 100%;
}

.showError {
  color: $error;
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  margin-top: 0.125em;
}

.passwordReq {
  color: $beigeTxt;
}

.hideError {
  display: none;
}

.checkWrapper {
  width: 100%;
  margin: 1em 0;

  .left {
    width: 5%;
  }

  .right {
    width: 95%;
  }
}

.Signin {
  margin-top: 2em;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.Terms,
.Privacy {
  margin-right: 0.75em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.Privacy {
  margin-left: 0.5em;
}

.signupBtn {
  margin: 2em 0;
}

.linktoLogin {
  text-decoration: none;
}
